<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
	<title>Customer</title>
</head>
<body>
   <section>
      <div class="jumbotron">
         <div class="container">
            <h1>Customer</h1>
            <p>Customer details</p>
         </div>
      </div>
   </section>
   <section class="container">
      <form  method="POST" action="#" th:action="@{#}" th:object="${order.customer}" class="form-horizontal">
         <fieldset>
            <legend>Customer Details</legend>

            <div class="form-group">
               <label class="control-label col-lg-2" for="name">Name</label>
               <div class="col-lg-10">
                  <input id="name" type="text" th:field="*{name}" class="form:input-large"/>
               </div>
            </div>

            <div class="form-group">
               <label class="control-label col-lg-2" for="doorNo">Door No</label>
               <div class="col-lg-10">
                  <input id="doorNo" type="text" th:field="*{billingAddress.doorNo}" class="form:input-large"/>
               </div>
            </div>

            <div class="form-group">
               <label class="control-label col-lg-2" for="streetName">Street Name</label>
               <div class="col-lg-10">
                  <input id="streetName" type="text" th:field="*{billingAddress.streetName}" class="form:input-large"/>
               </div>
            </div>

            <div class="form-group">
               <label class="control-label col-lg-2" for="areaName">Area Name</label>
               <div class="col-lg-10">
                  <input id="areaName" type="text" th:field="*{billingAddress.areaName}" class="form:input-large"/>
               </div>
            </div>

            <div class="form-group">
               <label class="control-label col-lg-2" for="state">State</label>
               <div class="col-lg-10">
                  <input id="state" type="text" th:field="*{billingAddress.state}" class="form:input-large"/>
               </div>
            </div>

            <div class="form-group">
               <label class="control-label col-lg-2" for="country">country</label>
               <div class="col-lg-10">
                  <input id="country" type="text" th:field="*{billingAddress.country}" class="form:input-large"/>
               </div>
            </div>

            <div class="form-group">
               <label class="control-label col-lg-2" for="zipCode">Zip Code</label>
               <div class="col-lg-10">
                  <input id="zipCode" type="text" th:field="*{billingAddress.zipCode}" class="form:input-large"/>
               </div>
            </div>
            
            <div class="form-group">
               <label class="control-label col-lg-2" for="phoneNumber">Phone Number</label>
               <div class="col-lg-10">
                  <input id="phoneNumber" type="text" th:field="*{phoneNumber}" class="form:input-large"/>
               </div>
            </div>

            <input type="hidden" name="_flowExecutionKey" value="${flowExecutionKey}"/>
            
            <div class="form-group">
               <div class="col-lg-offset-2 col-lg-10">
                  <input type="submit" id="btnAdd" class="btn btn-primary"
                     value="Add" name="_eventId_customerInfoCollected" />
                  <button id="btnCancel" class="btn btn-default" name="_eventId_cancel">Cancel</button>
               </div>
            </div>
         </fieldset>
      </form>
   </section>
</body>
</html>
